/* Title Section for Project Page */
.project-title {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    color: #333;
}

.slider-wrapper {
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
  }
  
  .slider {
    display: flex;
    width: calc(200%); /* Twice the width of the visible area */
    animation: slideLoop 30s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
  }
  
  .slide {
    flex: 0 0 25%; /* 4 images shown at a time = 25% each */
    height: 300px;
    object-fit: cover;
  }   

/* Looping from 0 to -50% because 8 slides = 200% width */
@keyframes slideLoop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Description and Video Section */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.video {
    width: 45%;
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adds shadow around the video */
}

.description {
    width: 45%;
}

.description p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    font-weight: 400;
}
