/* Title Section for Project Page */
.project-title {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    color: #333;
}

.slider-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.slider-track {
  display: inline-flex;
  animation: scroll-left 60s linear infinite;
}

.slider-track img {
  width: auto;
  height: 300px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 8px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



/* Description and Video Section */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.video {
    width: 45%;
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adds shadow around the video */
}

.description {
    width: 45%;
}

.description p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    font-weight: 400;
}
